<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ZhiLiao</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>userServlet</display-name>
    <servlet-name>userServlet</servlet-name>
    <servlet-class>com.csu.servlet.UserServlet</servlet-class>
  </servlet>
  
    <servlet>  
    <servlet-name>ImageServlet</servlet-name>  
    <servlet-class>com.csu.servlet.ImageServlet</servlet-class>  
  </servlet>  
  
  
   <servlet>  
    <servlet-name>comentServlet</servlet-name>  
    <servlet-class>com.csu.servlet.CommentServlet</servlet-class>  
  </servlet>  
  
    <servlet-mapping>  
        <servlet-name>ImageServlet</servlet-name>  
        <url-pattern>/servlet/ImageServlet</url-pattern>  
    </servlet-mapping>  
    
    <servlet-mapping>
    <servlet-name>userServlet</servlet-name>
    <url-pattern>/pages/user</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>comentServlet</servlet-name>
    <url-pattern>/pages/comment</url-pattern>
  </servlet-mapping>
</web-app>